{% extends 'base.html.twig' %}

{% block title %}Quizzy{% endblock %}

{% block body %}

<link href="{{ asset('assets/css/styles.css') }}" type="text/css" rel="stylesheet">

<main role="main" class="container">
    <div class="jumbotron text-center">
        <h1>Bienvenue sur Quizzy !</h1>
        <p class="lead text-info">Vous pouvez voir les quizz dans le <a href="jeu">fil d'actualité</a> ou ci-dessous, vous pouvez également vous inscrire pour pouvoir créer votre quizz.</p>

        <p> mettre les quizz ici </p>
    </div>
</main>
{% endblock %}
