{% extends 'base.html.twig' %}

{% block title %}Quizzy{% endblock %}

{% block body %}

<main role="main" class="container">
    <div class="jumbotron text-center">

        <p> mettre les quizz ici </p>
    </div>
</main>
{% endblock %}
